Doc title: **Amazon FBA Monthly Inventory History Report**

Article notes: Data came from 'Reports/Fulfillment/Monthly Inventory History Report' @Amazon Seller Central. Certain columns(e.g. fnskn, product-name) have been sterilized and removed.

文章备注：亚马逊后台FBA库存月度报告分析。其中一些列（如：fnsku, product-name）已删除。

Last modified date: 2019-07-25 18:43:35

In [1]:
# 引入pandas数据分析模块
import pandas as pd

# 数据范例：美国站，2019年6月份数据
workdf = pd.read_csv('data/amz_fba_inventory_month_us_201906.csv')

# 各商品SKU期末库存数量

In [2]:
target_df = workdf.groupby(['sku']).sum().sort_index()

target_df.head()

                average-quantity  end-quantity
sku
CAHM0742-2237                6.0             8
HM0505-1031/32              17.0            17
HM0505-1033/34              15.0            15
HM0505-1035/36              20.0            20
HM0505-1037/38              17.0            17

In [3]:
print('期末库存型号数量：{1:.0f}种， 库存商品总数量：{0:.0f}件。'.format(workdf.sum()['end-quantity'], target_df.count()['end-quantity']))

期末库存型号数量：468种， 库存商品总数量：4502件。

In [4]:
# Query
sku = input('请输入商品SKU（支持模糊查询）：')

target_df.filter(like=sku, axis=0)

请输入商品SKU（支持模糊查询）：0505

                average-quantity  end-quantity
sku
HM0505-1031/32             17.00            17
HM0505-1033/34             15.00            15
HM0505-1035/36             20.00            20
HM0505-1037/38             17.00            17
HM0505-1039/40             36.67            36
HM0505-1041/42             38.00            38
HM0505-1731/32             14.00            14
HM0505-1733/34              8.87             8
HM0505-1735/36              9.60             9
HM0505-1737/38              9.19             5
HM0505-1739/40             37.22            33
HM0505-1741/42             32.03            27
HM0505-1743/44             13.07            11
HM0505-1745/46             19.47            18
HM0505-2031/32             16.00            16
HM0505-2033/34             16.00            16
HM0505-2035/36             21.00            21
HM0505-2037/38             19.00            19
HM0505-2039/40             38.67            38
HM0505-2041/42             42.00            42

# 各FBA仓库期末库存数量

In [5]:
target_df = workdf.groupby(['fulfillment-center-id']).sum()

target_df

                       average-quantity  end-quantity
fulfillment-center-id
*XFR                              13.26            15
ABE2                               3.99             4
ABE3                               7.30             1
ACY1                              11.22            16
BDL2                               0.07             0
BNA3                             130.10            96
BUF9                               0.30             0
BWI2                               0.09             1
CHA1                               5.84             5
CMH1                               0.69             0
DCA1                               9.53            20
DFW7                               0.86             1
DTW1                               0.03             0
EWR4                               4.44             5
EWR9                               0.54             1
FTW6                               0.46             1
HIO9                               0.93             0
IND1                               7.41             8
IND4                             502.51           456
IND8                               0.36             2
JFK8                               5.42            20
LAS2                               2.48             5
LEX1                               1.14             1
LEX2                               0.45             0
LGA9                               0.03             0
MDT2                            2366.32          3738
MDW4                               2.56             3
MDW7                               0.03             0
MIA7                               0.95             0
MKE1                               0.19             0
MOB9                               1.07             1
OAK4                               0.06             0
OKC9                               0.27             0
ONT2                               2.07             2
ONT6                              59.94            50
PHL5                               0.07             0
PHL7                               3.22             3
PHX3                              12.62            12
PHX6                               2.43             2
RIC2                               0.31             1
RIC9                               0.23             1
SDF8                               5.06             5
SDF9                              31.71            25
SMF9                               0.47             0
TPA1                               1.19             1

[返回目录](amz_fba_inventory_catalog.ipynb)