Doc title: **Amazon FBA Inventory Event Detail Report**

Article notes: Data came from 'Reports/Fulfillment/Inventory Event Detail Report' @Amazon Seller Central. Certain columns(e.g. fnskn, product-name) have been sterilized and removed.

文章备注：亚马逊后台FBA库存动作详情报告分析。其中一些列（如：fnsku, product-name）已删除。

Last modified date: 2019-09-15 03:28:31

In [1]:
# 引入pandas数据分析模块
import pandas as pd

# 数据范例：美国站，2019年6月份数据
workdf = pd.read_csv('data/amz_fba_inventory_details_us_201907-201908.csv')

# 操作类型统计

In [2]:
workdf.groupby(['transaction-type']).sum().sort_index()

                  quantity
transaction-type
Adjustments             -3
CustomerReturns        554
Receipts              6447
Shipments            -5366
VendorReturns          -39
WhseTransfers          -13

# FBA仓库统计

In [3]:
targetdf = workdf.groupby(['fulfillment-center-id']).sum().sort_index()

print('商品出入库涉及FBA仓库数： {} 个。'.format(int(targetdf.count())))

targetdf

商品出入库涉及FBA仓库数： 56 个。

                       quantity
fulfillment-center-id
ABE2                          2
ABE3                       1366
ABE4                          0
ACY1                        -10
BDL2                          0
BNA2                          0
BNA3                        -41
BUF9                          0
BWI2                         -1
CAE1                          0
CHA1                         10
CLE2                          0
CMH1                          1
DCA1                        -14
DFW7                          0
EWR4                         -3
EWR9                         -1
FTW6                         -1
HIO9                          0
IND1                         35
IND4                       2485
IND8                         -2
JAX3                          0
JFK8                        -13
LAS2                          0
LAS7                          2
LEX1                          0
LEX2                          2
LGA9                          0
LGB3                          0
LGB7                          0
MDT2                      -2274
MDW4                         -2
MDW7                          0
MIA7                          1
MKE1                          1
MOB9                         -1
OAK4                          0
OKC9                          0
ONT2                         -2
ONT6                        -27
PHL4                          0
PHL5                          0
PHL7                          5
PHX3                         14
PHX6                         -1
RIC1                          0
RIC2                          4
RIC9                          0
SDF1                          6
SDF8                          7
SDF9                         30
SMF9                          0
TEB6                          0
TPA1                          2
TUS1                          0

[返回目录](amz_fba_inventory_catalog.ipynb)